
.header {
    grid-area: header;
    background-color: #231f21;
}

.header img {
    width: 40px;
}

.loginBlock {
    float: right;
    margin: 15px;
}

.loginBlock a, .loginBlock div {
    color: white;
    text-decoration: none;
}